.all{
    height: 70vh;
    position: fixed;
    top: 10vh;
    display: flex;
    flex-direction: column;
}

.create{
    margin-right: 5vw;
    margin-left: 5vw;
}

.edit {
    margin-right: 5vw;
    margin-left: 5vw;
}